<div class="jumbotron">
  <div class="container">

	<div class="row">  
	    <h1 class="text-center">What is Juice?</h1>
	    <%= link_to (image_tag "tropical-drink.png", :class => "img img-rounded img-responsive center-block"), root_path %>
	    <!-- Nav Menu -->
	    <div class="col-sm-offset-3 col-sm-6" data-no-turbolink>
			
			<%= link_to "Home", root_path, :class => "btn btn-success btn-lg col-xs-12" %>
		</div>
	</div>

	<div class="row col-sm-6 col-sm-offset-3">
 		<a class="twitter-timeline" href="https://twitter.com/Juicinlt" data-widget-id="633558069918728192">Tweets by @Juicinlt</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</a>
	</div>

  </div>
</div>