<div class="jumbotron">
  <div class="container">
    <h1 class="text-center">What is Juice?</h1>
    <%= image_tag "tropical-drink.png", :class => "img img-rounded img-responsive center-block" %>
  </div>
</div>