// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
	color: green;
}

#mouth {
	position: relative;
	bottom: 200px;
	left:6px;
}