<title>Juicebox</title>
<meta name=viewport content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- rails application stylesheet -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<!-- Google Fonts-->	
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
<!-- Rails application JS -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<!-- Latest compiled and minified JavaScript -->
    <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<%= csrf_meta_tags %>